<h1><%= @island.name %></h1>

<h3>Description: <%= @island.description %></h4>

<h4>Accessed by: <%= @island.accessed_by %>. </h4>

<h4> Hikes on <%= @island.name %>: </h4>

<ul>
<% @hikes.each do |hike| %>
<li><%= link_to hike.name, island_hike_path(@island, hike) %> - <%= hike.location %></li>
<% end %>
</ul>

