<h1> Sign Up </h1>

<%= render partial: "layouts/error", locals: {object: @user} %>

<%= form_for(@user, url:sign_up_path) do |f| %>
    Name: <%= f.text_field :name %><br>
    Email: <%= f.text_field :email_address %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Submit" %>
  <% end %> 