<!DOCTYPE html>
<html>
  <head>
    <title>HIKESanJuanIslands</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %> <br>
  <%= link_to 'Log in with Password', '/login' %><br>
  <%= link_to('Log out', '/logout', method: :delete) %>

    <%= yield %>


  </body>
</html>
